@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

/* Primary colors */
$primary-soft-red: hsl(7, 99%, 70%);
$primary-yellow:   hsl(51, 100%, 49%);
$primary-dark-desaturated-cyan: hsl(167, 40%, 24%);    
$primary-dark-blue: hsl(198, 62%, 26%);
$primary-moderate-cyan: hsl(168, 34%, 41%);

/* Neutral colors */
$neutral--very-dark-blue: hsl(212, 27%, 19%);
$neutral-very-dark-greyish-blue: hsl(213,9%,39%);
$neutral-dark-greyish-blue: hsl(232,10%,55%);
$neutral-greyish-blue: hsl(210,4%, 67%);
$neutral-white: hsl(0,0%,100%);

/* Body font size */
$body-font-size: 18px;

/* Font families and weights */
$barlow-font: 'Barlow';
$weight-600: 600;
$fraunces-font: 'Fraunces';
$weight-700: 700;
$weight-900: 900;

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@mixin bgImage($url){
    background-image: url(#{$url});
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

body{
    background-color: $neutral-white;
}
.links{
    list-style-type: none;
    a{
        display: block;  
        text-decoration: none;
        color: $neutral-white;
        font-weight: $weight-600;
        font-family: $barlow-font;
        letter-spacing: 1px;
        font-size: 1rem;
        text-shadow: 0 0 1.5px $primary-dark-desaturated-cyan;
    }
}
.contactBtn{
    height: 50px;
    width: 130px;
    border-radius: 30px;
    color: black;
    border:none;
    font-weight: $weight-700;
    font-size: 1.1rem;
    font-family: $fraunces-font;
    cursor: pointer;
    background-color: white;
}
.headerMid{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{
        color: $neutral-white;
        text-transform: uppercase;
        letter-spacing: 7px;
        word-spacing: 0.5rem;
        font-family: $fraunces-font;
        font-weight: bold;
        font-size: 4rem;
        margin: 6.8rem;
        text-align: center;
        text-shadow: 0 0 1.5px $primary-dark-desaturated-cyan;
    }
    img{
        height: auto;
    }
}



@media screen and (min-width: 1024px) {
    @for $x from 1 through 2{
        .container#{$x} {width:512px}
    }
    // HEADER PORTION
    header{
        @include bgImage('./images/desktop/image-header.jpg');
        height:100vh;
    }
    .navSection{
        height: 12vh;
    }
    .logo{
        width: 150px;
    }
    .navSection{
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding:1rem;
    }
    .navHeader{
        padding: 1rem;
    }
    .toggleBtn{
        display: none;
    }
    .links{
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2rem;
    }
    
    // Main content
    .textBox{
       display:block;
       min-width: 1024;
       max-width: auto;
       height: 213vh;
    }
    .textBox-row1{
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 700px;
    }
    .textSquare1{
        display:flex;
        width:auto;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h3{
            font-family: $fraunces-font;
            font-size:2.5rem;
            font-weight: $weight-900;
            margin: 2rem;
        }
        p{
            line-height: 2rem;
            font-size: 1rem;
            font-family: $barlow-font;
            color:$neutral-dark-greyish-blue;
            font-size: $body-font-size;
            margin: 2rem;    
        }
        a{
            font-family: $fraunces-font;
            font-size:1rem;
            text-decoration-color: hsl(51, 100%, 83%);
            text-decoration-thickness: 8px;
            text-underline-offset: 0rem;
            text-transform: uppercase;
            font-weight: $weight-900;
            letter-spacing: 1px;
            margin: 2rem;
        }
        a:visited{
            color:#000000;
        }
        a:hover{
            text-decoration-color: $primary-yellow;
        }
    }
    .egg{
        @include bgImage('./images/desktop/image-transform.jpg');
    }
    .textBox-row2{
        @extend .textBox-row1;
    }
    .textSquare2{
        @extend .textSquare1;
        a{
            text-decoration-color: hsl(5, 100%, 95%);
        }
        a:hover{
            text-decoration-color: $primary-soft-red;
        }
    }
    .cup{
        @include bgImage('./images/desktop/image-stand-out.jpg')
    }

    .textBox-row3{
        @extend .textBox-row1
    }
    .cherry{
        @include bgImage('./images/desktop/image-graphic-design.jpg');
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h3{
            font-family: $fraunces-font;
            font-weight: $weight-900;
            font-size: 2rem;
            color: $primary-dark-desaturated-cyan;
        }
        p{
            margin-top: 35px;
            font-family: $barlow-font;
            font-size: $body-font-size;
            font-weight: $weight-700;
            color: $primary-dark-blue;
        }
    }
    .cherryText{
        width:400px;
        margin-top: 400px;
        text-align: center;
    }
    .orange{
        @include bgImage('./images/desktop/image-photography.jpg');
        @extend .cherry;
    }
    .orangeText{
        @extend .cherryText;
    }
}

