@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
/* Primary colors */
/* Neutral colors */
/* Body font size */
/* Font families and weights */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
}

@media screen and (max-width: 1023px) {
  header {
    background-image: url(./images/mobile/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .navSection {
    height: 15vh;
  }
  .navSection .navHeader {
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navSection .logo {
    height: 2rem;
  }
  .navSection .toggleBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  .navSection .links {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 60px;
  }
  .navSection .links a {
    display: block;
    text-decoration: none;
    color: #a7abae;
    font-weight: 600;
    font-family: "Barlow";
    letter-spacing: 1px;
    font-size: 1rem;
    text-shadow: 0 0 1.5px #25564b;
  }
  .headerMid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 450px;
  }
  .headerMid h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 2.9px;
    word-spacing: 0.5rem;
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 3rem;
    margin: 4rem;
    text-align: center;
    text-shadow: 0 0 1.5px #25564b;
  }
  .headerMid img {
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .links {
    list-style-type: none;
  }
  .links a {
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-family: "Barlow";
    letter-spacing: 1px;
    font-size: 1rem;
    text-shadow: 0 0 1.5px #25564b;
  }
  .contactBtn {
    height: 50px;
    width: 130px;
    border-radius: 30px;
    color: black;
    border: none;
    font-weight: 700;
    font-size: 1.1rem;
    font-family: "Fraunces";
    cursor: pointer;
    background-color: white;
  }
  .headerMid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .headerMid h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 7px;
    word-spacing: 0.5rem;
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 4rem;
    margin: 6.8rem;
    text-align: center;
    text-shadow: 0 0 1.5px #25564b;
  }
  .headerMid img {
    height: auto;
  }
  .container1 {
    width: 512px;
  }
  .container2 {
    width: 512px;
  }
  header {
    background-image: url(./images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .navSection {
    height: 12vh;
  }
  .logo {
    width: 150px;
  }
  .navSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem;
  }
  .navHeader {
    padding: 1rem;
  }
  .toggleBtn {
    display: none;
  }
  .links {
    width: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem;
  }
  .textBox {
    display: block;
    min-width: 1024;
    max-width: auto;
    height: auto;
  }
  .textBox-row1, .textBox-row2, .textBox-row3 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 700px;
        grid-template-rows: 700px;
  }
  .textSquare1, .textSquare2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .textSquare1 h3, .textSquare2 h3 {
    font-family: "Fraunces";
    font-size: 2.5rem;
    font-weight: 900;
    margin: 2rem;
  }
  .textSquare1 p, .textSquare2 p {
    line-height: 2rem;
    font-size: 1rem;
    font-family: "Barlow";
    color: #818498;
    font-size: 18px;
    margin: 2rem;
  }
  .textSquare1 a, .textSquare2 a {
    font-family: "Fraunces";
    font-size: 1rem;
    -webkit-text-decoration-color: #fff2a8;
            text-decoration-color: #fff2a8;
    text-decoration-thickness: 8px;
    text-underline-offset: 0rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    margin: 2rem;
  }
  .textSquare1 a:visited, .textSquare2 a:visited {
    color: #000000;
  }
  .textSquare1 a:hover, .textSquare2 a:hover {
    -webkit-text-decoration-color: #fad400;
            text-decoration-color: #fad400;
  }
  .egg {
    background-image: url(./images/desktop/image-transform.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .textSquare2 a {
    -webkit-text-decoration-color: #ffe8e6;
            text-decoration-color: #ffe8e6;
  }
  .textSquare2 a:hover {
    -webkit-text-decoration-color: #fe7867;
            text-decoration-color: #fe7867;
  }
  .cup {
    background-image: url(./images/desktop/image-stand-out.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .cherry, .orange {
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cherry h3, .orange h3 {
    font-family: "Fraunces";
    font-weight: 900;
    font-size: 2rem;
    color: #25564b;
  }
  .cherry p, .orange p {
    margin-top: 35px;
    font-family: "Barlow";
    font-size: 18px;
    font-weight: 700;
    color: #19536b;
  }
  .cherryText, .orangeText {
    width: 400px;
    margin-top: 400px;
    text-align: center;
  }
  .orange {
    background-image: url(./images/desktop/image-photography.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .clientT {
    display: -ms-grid;
    display: grid;
    height: auto;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 0.2fr .8fr;
        grid-template-rows: 0.2fr .8fr;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 900px;
  }
  .clientT div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .clientT h2 {
    font-family: "Fraunces";
    color: #a7abae;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding-left: 50px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1/2/2/3;
    text-align: center;
    padding-top: 130px;
  }
  .clientT div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .clientT p {
    line-height: 2rem;
    font-size: clamp(1rem, 1vw, 3rem);
    font-family: "Barlow";
    color: #5a636c;
    font-size: 18px;
    margin: 2rem;
  }
  .clientT h5 {
    font-family: "Fraunces";
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 10px;
    margin-top: 50px;
  }
  .clientT h6 {
    font-family: "Barlow";
    font-size: 1rem;
    color: #a7abae;
  }
  .client1 {
    text-align: center;
    margin: 4rem;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2/1/3/2;
  }
  .p1 {
    border-radius: 50%;
    width: 90px;
  }
  .client2 {
    text-align: center;
    margin: 4rem;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 2/2/3/3;
  }
  .p2 {
    border-radius: 50%;
    width: 90px;
  }
  .client3 {
    text-align: center;
    margin: 4rem;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 2/3/3/4;
  }
  .p3 {
    border-radius: 50%;
    width: 90px;
  }
  .pictures {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    height: 600px;
    width: minmax(1024, auto);
  }
  .pic1 {
    background-image: url(./images/desktop/image-gallery-milkbottles.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .pic2 {
    background-image: url(./images/desktop/image-gallery-orange.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .pic3 {
    background-image: url(./images/desktop/image-gallery-cone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .pic4 {
    background-image: url(./images/desktop/image-gallery-sugarcubes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .bottomLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 300px;
    background-color: #90D4C5;
  }
  .bottomLinks .bottomLogo {
    fill: #458c7e;
    height: 2rem;
  }
  .bottomLinks .bottomA, .bottomLinks .bottomB {
    list-style-type: none;
    width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 2rem;
  }
  .bottomLinks .bottomA a, .bottomLinks .bottomB a {
    display: block;
    text-decoration: none;
    color: #458c7e;
    font-family: "Barlow";
    font-size: 1rem;
  }
  .bottomLinks .bottomB {
    width: 250px;
  }
  .attribution {
    background-color: #90D4C5;
    font-family: "Barlow";
    font-size: 3rem;
  }
}
/*# sourceMappingURL=layout.css.map */